<a href="https://colab.research.google.com/github/PooKYZZZ/EMTECH-ACTIVITIES/blob/main/Quiz_5_1_Advanced_Data_Analytics_and_Machine_Learning_GAYAO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Gayao, Froilan M.<br>
Course and Section: CPE019 - CPE32S4 <br>
Date of Submission: 02/19/2025 <br>
Instructor: Dr. Richard Monreal<br>

SET C

Write a Python program using Pandas to select the rows the score is between 15 and 20 (inclusive).

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np .nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

NameError: name 'np' is not defined

we need to import numpy and pandas first for this activity to work

In [ ]:
import numpy as np
import pandas as pd

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
df = pd.DataFrame(exam_data, index=labels)
filtered_df = df[df['score'].between(15, 20)]
print(filtered_df)

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

here we create an identifier named df, then we filtered the dataframes given between 15 and 20, which print all the rows with scores in the specified range.